@import './variable.css';
@import 'nprogress/nprogress.css';
// @import './icons.css';

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

#nprogress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2px;
  z-index: 9999;

  .bar {
    background: var(--vp-c-brand); /* 修改进度条的颜色 */
  }
}

.mild-task-list {
  li.mild-task-list-item {
    list-style: none;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      position: relative;
      margin-right: 5px;
      width: 13px;
      height: 13px;
    }

    input[type='checkbox']::after {
      position: absolute;
      top: 0;
      color: #000;
      width: 13px;
      height: 13px;
      display: inline-block;
      visibility: visible;
      padding-left: 0px;
      text-align: center;
      content: ' ';
      border-radius: 3px;
    }

    input[type='checkbox']:checked::after {
      content: '✓';
      color: #fff;
      line-height: 14px;
      font-size: 10px;
      font-weight: bold;
      background-color: var(--vp-c-brand-1);
    }

    p {
      margin: 8px 0 0 0;
      display: flex;
      align-items: center;
    }
  }
}
