:root {
  --vp-layout-max-width: 1680px;
  --vp-sidebar-width-small: 266px;
  --vp-sidebar-width-mobile: 320px;
  --vpt-project-card-border-color: rgb(239, 239, 245);
  --vpt-project-card-bgc: #fff;
  --vpt-title-color: rgb(51, 54, 57);
  --vpt-title-font-size: 18px;
  --vpt-font-size: 14px;
  --vpt-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.08),
    0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
  --vpt-bg-opacity: rgba(241, 245, 249, 0.9);
}

:root:root {
  --el-color-primary: #3451b2;
  --vp-nav-height: 55px;
  --vp-nav-logo-height: 28px;
  --vp-c-brand: var(--el-color-primary);
  --el-bg-color: var(--vp-c-bg);
}

:root.dark {
  --el-color-primary: #a8b1ff;

  --vpt-project-card-border-color: rgba(255, 255, 255, 0.09);
  --vpt-project-card-bgc: rgb(24, 24, 28);
  --vpt-title-color: rgba(255, 255, 255, 0.9);
  --vpt-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.24),
    0 3px 6px 0 rgba(0, 0, 0, 0.18), 0 5px 12px 4px rgba(0, 0, 0, 0.12);

  --vpt-bg-opacity: rgba(31, 41, 55, 0.9);
}

@media screen and (min-width: 1440px) {
  :root {
    --vp-sidebar-width-small: 234px;
  }
}

@media screen and (min-width: 1680px) {
  :root {
    --vp-screen-max-width: 1482px;
    --vp-sidebar-width-small: 290px;
  }
}
