:root {
  --vp-layout-max-width: 1680px;
  --vp-sidebar-width-small: 266px;
  --vp-sidebar-width-mobile: 320px;
}

:root:root {
  --vp-nav-height: 55px;
  --vp-nav-logo-height: 28px;
  --vp-c-brand: var(--el-color-primary);
  --vp-c-brand-1: var(--el-color-primary);
  --el-bg-color: var(--vp-c-bg);
}

:root.dark {
  --el-color-primary: #a8b1ff;
}

@media screen and (min-width: 1440px) {
  :root {
    --vp-sidebar-width-small: 234px;
  }
}

@media screen and (min-width: 1680px) {
  :root {
    --vp-screen-max-width: 1482px;
    --vp-sidebar-width-small: 290px;
  }
}
