.doc-content {
  h1  {
    margin-bottom: 2rem;
    font-weight: 600;
  }

  h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: .3rem;
    line-height: 1.25;
    font-size: 1.65rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 600;
  }

  h5 {
    font-weight: 600;
  }

  h2+h3 {
    margin-top: 1.5rem;
  }

  p {
    margin: 1rem 0;
    line-height: 1.7;
  }

  a {
    font-weight: 500;
    text-decoration: inherit;
    color: var(--brand-color);
    display: inline-flex;
    align-items: center;
  }

  a .link-icon {
    margin-left: .25rem;
    height: 1em;
    width: 1em;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
    align-items: center;
    color: var(--el-text-color-regular);

    // Special case for handling tagged header.
    .el-tag,
    .vp-tag {
      margin-left: 8px;
    }
  }

@media screen and (min-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}

 div .vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;

  & > table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--bg-color);
    font-size: 14px;
    line-height: 1.5em;

    tr {
      td:nth-child(2) {
        font-family: var(--font-family);
      }
    }

    th,
    td {
      white-space: nowrap;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }

    thead tr:first-child th {
      border-top: none;
    }

    tbody tr td:first-child {
      font-family: var(--font-family-mono);
    }
  }
}

.header-anchor:before {
  content: '#';
}

a.header-anchor {
    position: absolute;
    margin-top: .125em;
    margin-left: -.87em;
    padding-right: .23em;
    font-size: .85em;
    opacity: 0;
}

h1:hover .header-anchor,h1:focus .header-anchor,h2:hover .header-anchor,h2:focus .header-anchor,h3:hover .header-anchor,h3:focus .header-anchor,h4:hover .header-anchor,h4:focus .header-anchor,h5:hover .header-anchor,h5:focus .header-anchor,h6:hover .header-anchor,h6:focus .header-anchor {
    opacity: 1
}


  .custom-block {
    .custom-block-title {
      font-weight: 700;
    }

    p:not(.custom-block-title) {
      font-size: 0.9rem;
    }

    &.tip {
      padding: 8px 16px;
      background-color: var(--block-tip-bg-color);
      border-radius: 4px;
      border-left: 5px solid var(--el-color-primary);
      margin: 20px 0;
    }

    &.warning {
      padding: 8px 16px;
      background-color: var(--block-warning-bg-color);
      border-radius: 4px;
      border-left: 5px solid var(--el-color-danger);
      margin: 20px 0;
    }
  }
}
