// #region snippet
:root {
  --vp-layout-max-width: 1680px;
  --vp-screen-max-width: 1362px;
  --vp-sidebar-width-mobile: 320px;
  --vp-sidebar-width-small: 266px;
  --vp-nav-height: 55px;
  --vp-nav-logo-height: 28px;
  --vp-c-brand: var(--el-color-primary);
  --vp-c-brand-1: var(--vp-c-brand);
  --vp-c-brand-3: var(--el-color-primary-light-3);
  --vp-c-brand-soft: var(--el-color-primary-light-9);
  --vp-c-bg: var(--el-bg-color);
  --text-color: var(--el-text-color-primary);
  --text-color-light: var(--el-text-color-regular);
  --text-color-lighter: var(--el-text-color-secondary);
  --bg-brand-color: var(--vp-c-brand-soft);
  --bg-color: var(--el-bg-color);
  --border-color: var(--el-border-color);
  --font-family: var(--el-font-family);
  --font-family-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --code-font-family: var(--font-family-mono);
  --code-font-size: var(--el-font-size-base);
  --code-bg-color: var(--el-fill-color-light);
  --code-text-color: var(--text-color);
  --code-tooltip-bg-color: var(--code-bg-color);
  --code-tooltip-color: #0c61c9;
  --purple-color: #6222c2;
  --purple-color-light: #9065db;
  --block-tip-bg-color: rgba(var(--el-color-primary-rgb), 0.1);
  --block-warning-bg-color: rgba(var(--el-color-danger-rgb), 0.1);
  --link-active-bg-color: rgba(var(--el-color-primary-rgb), 0.1);
}

:root.dark {
  --vp-c-brand: #a8b1ff;
}
// #endregion snippet

@media screen and (min-width: 1440px) {
  :root {
    --vp-sidebar-width-small: 234px;
  }
}

@media screen and (min-width: 1680px) {
  :root {
    --vp-screen-max-width: 1482px;
    --vp-sidebar-width-small: 290px;
  }
}

// fix "vitepress-plugin-group-icons" problem
.vp-code-block-title-bar.vp-code-block-title-bar {
  margin: 16px 0px 0px;
}

.vp-code-group .tabs.tabs {
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 8px 8px 0px 0px;
}

:is(.vp-external-link-icon, .vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(
    :is(.no-icon, svg a, :has(img, svg))
  )::after {
  --icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zm11-3v8h-2V6.413l-7.793 7.794l-1.414-1.414L17.585 5H13V3z' /></svg>");
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
